@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", system-ui;
  user-select: none;
  overscroll-behavior: none;
  margin: 0px;
}

body {
  background: hsl(var(--background));
}

h2 {
  font-family: "Instrument Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p,
input {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FancyButton {
  box-shadow: var(--focus-shadow), 0px 0px 0px 2px hsl(var(--surface)),
    0px 0px 0px 3px hsl(var(--surface-100));
  transition: 50ms;
}

button {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 0.75rem 1.125rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 100px;
  color: hsl(var(--primary));
  border: 1px solid hsl(var(--primary-100));
  background: hsl(var(--secondary));
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    /** -- Custom -- */

    --foreground: 0 100% 3.92%;
    --background: 248 100% 97.1%;
    --primary: 307 59% 22.9%;
    --primary-foreground: 0 100% 3.92%;
    --primary-100: 307 58.7% 64.9%;
    --secondary: 305 100% 87.1%;
    --accent: 277 59% 44.9%;
    --surface: 0 0% 100%;
    --surface-100: 0 0% 88.2%;
    --red: 0 100% 90%;
    --focus-shadow: 0px 4px 7px rgba(168, 16, 144, 0.3);

    /** -- Custom -- */
    --foreground-accent: 299, 97%, 15%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary-foreground: 0 0% 98%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --border-dark: 0, 0%, 74%;
    --input: 240 5.9% 90%;
    --ring: 292, 72%, 21%;

    --radius: 1rem;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /** -- Custom -- */

    --foreground: 0 100% 96.1%;
    --background: 248 100% 2.94%;
    --primary: 307 59% 77.1%;
    --primary-foreground: 0 100% 3.92%;
    --primary-100: 307 59.5% 30%;
    --secondary: 305 100% 12.9%;
    --accent: 277 59% 55.1%;
    --surface: 0 0% 8.24%;
    --surface-100: 0 0% 18%;
    --red: 0 100% 10%;
    --focus-shadow: 0px 4px 7px rgba(45, 3, 38, 0.8);

    /** -- Custom -- */
    --foreground-accent: 299, 100%, 96%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
